// we create this .env sample becuase if we need to push in git ...then we need to put sample env file so that
// other developers can use it and they can create their own .env file with their own credentials and secrets.
